.comment-wrapper {
  position: relative;
  height: fit-content;
  transition: all 300ms ease;
  .d1 {
    .comment-container {
      border-left: solid #000 2px;
    }
  }
  .d2 {
    .comment-container {
      border-left: solid #222 2px;
    }
  }
  .d3 {
    .comment-container {
      border-left: solid #333 2px;
    }
  }

  &.collapsed {
    height: 1.7rem;
    overflow: hidden;
    border-left: 0px solid transparent;
  }
}

.comment-container{
  padding: 2px;
  border-bottom: 1px #000 solid;
}

.comment-body {
}

.replies {
  padding-left: 4px;
}
