.app-container{
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-columns: auto minmax(320px,1100px) auto;
  justify-content: space-between;
  transition: all ease 300ms;

  .sidenav-container{
    grid-column: 1/2;
    height: 100%;
  }

  .route-container{
    position: relative;
    padding-top: 90px;
    height: 100%;
    overflow: auto;
    padding: 0 1rem;
    grid-column: 2/3;
    max-width: 1100px;
  }

  .sidebar-container{
    grid-column: 3/4;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 4rem;
    right: 0;
    width: 300px;
  }

}



@media(max-width: 700px){

}