<a *ngIf="post.data as post" class="card-wrapper" [href]="['/r/',post.subreddit,'comments',post.id]" [routerLink]="['/r/',post.subreddit,'comments',post.id]">
  <div class="point-incrementer">
    <span class="up">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 847 847"><g><path d="M420 723l-224 -226 142 -1 0 -351c0,-11 9,-21 21,-21l126 0c12,0 21,10 21,21l0 350 145 0 -231 228z"/></g></svg>
    </span>
    <span *ngIf="!post.hide_score">{{post.score}}</span>
    <span *ngIf="post.hide_score">•</span>
    <span class="down">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 847 847"><g><path d="M420 723l-224 -226 142 -1 0 -351c0,-11 9,-21 21,-21l126 0c12,0 21,10 21,21l0 350 145 0 -231 228z"/></g></svg>
    </span>
  </div>
  <div class="card-body">
    <a class="title-container" [href]="post.url" [innerText]="post.title"></a>
    <div class="meta-container">
      <span class="subreddit">{{post.subreddit}}</span>•
      <span class="author">{{post.author}}</span>•
      <span *ngIf="post.link_flair_text" style="background: #99c160; padding: 0 2px;" class="flair">{{post.link_flair_text}}</span><b *ngIf="post.link_flair_text">•</b>
      <span *ngIf="post.domain !== ('self.'+ post.subreddit) as xDomain" class="domain">{{post.domain}}</span><b *ngIf="post.domain !== ('self.'+ post.subreddit) as xDomain">•</b>
        <!-- TODO: CONVERT TIME PASSED PIPE-->
      <span class="time">{{ (today - (post.created * 1000)) | date:'h:m'}}hr ago</span>
    </div>
    <div class="info-container">
      <span *ngIf="post.over_18" style="padding: 0 2px; border-radius: 4px; color: red; border: red solid 2px;">NSFW</span>
      <span class="comments">{{post.num_comments}} Comments</span>
    </div>
  </div>
  <div *ngIf="post.thumbnail !== 'nsfw'" class="preview-container">
    <img src={{post.thumbnail}} alt="">
  </div>
</a>