<div class="thread-wrapper" *ngIf="thread?.data as thread">

  <div class="info" #infoElem>
    <div class="points">
      <div class="increments">
        <button>
          <</button> <button>>
        </button>
      </div>
      <h1>[{{thread.ups}}]</h1>
    </div>

    <div class="detail">
      <div>
        <li>
          <b>Author: </b><span>{{thread.author}}</span>
        </li>
        <li>
          <b>Submitted: </b><span>{{ (thread.created_utc * 1000) | date}}</span>
        </li>
      </div>
      <div>
        <li>
          <b>points: </b><span>{{ thread.ups }}</span>
        </li>
        <li>
          <b>comments: </b><span>{{ thread.num_comments }}</span>
        </li>
      </div>
    </div>
  </div>

  <div class="main">
    <article>
      <a class="title" [href]="thread.url">{{thread.title}}</a>
      <section>
        <div *ngIf="thread.selftext" class="body" [innerHTML]="md.convert(thread.selftext)"></div>
        <img *ngIf="thread.post_hint == 'image'" [src]="thread.url" alt="Post Image">
        <img *ngIf="thread.post_hint == 'link' && thread.thumbnail" [src]="thread.thumbnail" alt="Link thumbnail">
        <video *ngIf="thread.post_hint == 'link' && thread.preview.reddit_video_preview" controls>
          <source [src]="thread.preview.reddit_video_preview.fallback_url">
        </video>
        <video *ngIf="thread.post_hint == 'hosted:video'" controls autoplay>
          <source [src]="thread.url">
        </video>
        <div *ngIf="thread.post_hint =='rich:video'" [innerHTML]="thread.secure_media_embed.content | safeHtml"
          resize=both></div>
      </section>
    </article>
    <thread-comments *ngIf="comments" [comments]='comments'></thread-comments>
  </div>
  
</div>