.thread-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background: #fff;
  padding: 1rem;
  z-index: 7;
}

img{
  position: relative;
  max-width: 100%;
  object-fit: contain;
}