.work-wrapper{
  position: relative;
  // display: flex;
  // flex-flow: row wrap;
  display: grid;
  grid-auto-rows: repeat(4, 25vw);
  grid-template-columns: repeat(4, minmax(300px, 700px));
  // justify-content: center;
}


@media(max-width:1295px){
  .work-wrapper{
    grid-auto-rows: repeat(3, 33vw);
    grid-template-columns: repeat(3, minmax(300px, 700px));
  }

}

@media(max-width:978px){
  .work-wrapper{
    grid-auto-rows: repeat(2, 50vw);
    grid-template-columns: repeat(2, minmax(300px, 700px));
  }
  
  
}
@media(max-width:656px){
  .work-wrapper{
    grid-auto-rows: repeat(1, 99vw);
    grid-template-columns: repeat(1, minmax(300px, 700px));
  }

}