.work-wrapper{
  position: relative;
  // display: flex;
  // flex-flow: row wrap;
  display: grid;
  grid-auto-rows: 40vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  // justify-content: center;
}


@media(max-width:1295px){
  .work-wrapper{
    grid-auto-rows: 40vh;
    grid-template-columns: repeat(3, 1fr);
  }

}

@media(max-width:978px){
  .work-wrapper{
    grid-auto-rows: 40vh;
    grid-template-columns: repeat(2, 1fr);
  }
  
  
}

@media(max-width:656px){
  .work-wrapper{
    display: flex;
    flex-flow: column;
  }

}