<nav>
  <button (click)="toggleMenu()">MENU</button>
  <div class="routes">
    <a href="/" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Front Page</a>
    <a href="/r/popular" routerLink="/r/popular" routerLinkActive="active">POPULAR</a>
    <a href="/r/all" routerLink="/r/all" routerLinkActive="active">ALL</a>
  </div>
  <div class="banner">

  </div>
  <div class="subject">
    <span>r/</span>
    <input type="text" placeholder="Go To.." [value]='reddit.state.subreddit' (keydown.enter)="goToSubreddit($event.target.value)">
  </div>
</nav>