nav{
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 1.7rem;
  z-index: 5;
  height: 50px;
  border-bottom: rgba(0,0,0,0.2) solid 1px;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    // right: 0;
    // margin: 0 auto;
    content: "";
    display: block;
    background: red;
    width: 0px;
    height: 2px;
    z-index: 5;
  }

  &.loading {
    &::after {
      animation: loadSeek 550ms ease infinite;
    }
  }

  button{
    position: relative;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    &:hover{
      background: rgba(0, 0, 0, .1);
    }
    svg{
      width: 100%;
    }
  }

}

.routes{
  display: flex;
  flex-flow: row wrap;

  a{
    text-transform: uppercase;
    display: inline-block;
    color: rgb(0, 0, 0, .9);
    text-decoration: none;
    font-size: .8rem;
    margin: .5rem 1rem;
    &.active{
      text-decoration: underline;
    }
  }
}

.banner{
  min-width: 120px;
}

.subject{
  padding: 0 1rem;
  width: fit-content;
  color: rgb(0, 0, 0, .4);

  input,span{
    position: relative;
    border: none;
    background: #fefefe;
    color: #b5b5b5;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    padding: .5rem 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    outline: none;
  }

  input{
    &::placeholder{
      color: #b5b5b5;
    }
  }


}



@media(max-width: 640px){
  .routes,.banner{
    display: none;
  }
  .subject{
    margin: auto;
  }
}

@keyframes loadSeek{
  0%{
    width: 0px;
  }
  70%{
    width: 100%;
  }
  100%{
  }
}