<nav class="sidenav-wrapper">

  <ul>
    <a href="/" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a href="/r/popular" routerLink="/r/popular" routerLinkActive="active">Popular</a>
    <a href="/r/all" routerLink="/r/all" routerLinkActive="active">All</a>
    <a href="/saved" routerLink="/saved" routerLinkActive="active">Saved</a>
    <a href="/search" routerLink="/search" routerLinkActive="active">Search</a>
  </ul>
  <hr>
  <ul>
    <a href="/profile" routerLink="/profile" routerLinkActive="active">Profile</a>
    <a href="/inbox" routerLink="/inbox" routerLinkActive="active">Inbox</a>
  </ul>
  <hr>
  <ul>
    <a>Got to ..</a>
    <a>Show NSFW</a>
    <a>Remove ads</a>
  </ul>
  <hr>
  <span>Subscriptions</span>
  <ul>
      <a href="/r/popular" routerLink="/r/popular" routerLinkActive="active">Popular</a>
      <a href="/r/all" routerLink="/r/all" routerLinkActive="active">all</a>
      <a href="/r/Art" routerLink="/r/Art" routerLinkActive="active">Art</a>
      <a href="/r/AskReddit" routerLink="/r/AskReddit" routerLinkActive="active">AskReddit</a>
      <a href="/r/askscience" routerLink="/r/askscience" routerLinkActive="active">askscience</a>
      <a href="/r/aww" routerLink="/r/aww" routerLinkActive="active">aww</a>
      <a href="/r/blog" routerLink="/r/blog" routerLinkActive="active">blog</a>
      <a href="/r/books" routerLink="/r/books" routerLinkActive="active">books</a>
      <a href="/r/diy" routerLink="/r/diy" routerLinkActive="active">diy</a>
      <a href="/r/documentaries" routerLink="/r/documentaries" routerLinkActive="active">documentaries</a>
      <a href="/r/food" routerLink="/r/food" routerLinkActive="active">food</a>
      <a href="/r/funny" routerLink="/r/funny" routerLinkActive="active">funny</a>

  </ul>


</nav>