.post-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  // width: 320px;
  // height: 320px;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // border-left: #000 solid 1px;
  // border-right: #000 solid 1px;
  // border-bottom: #000 solid 1px;

  color: #fff;
  padding: 0.5rem;
  opacity: .9;
  transition: all ease 300ms;
  cursor: pointer;

  .title,.author{
    position: relative;
    color: #000;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
  }

  .title{
    font-size: 20px;
  }

  p{
    color: #000;
    width: 100%;
    .author{
      padding: 0 0.25rem;
    }
  }

  .post-container{
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000;

    .selftext{
      padding: 1rem;
      width: 100%;

      .md{
        width: 100%;
      }
    }

  }

  &:hover{
    opacity: 1;
  }
}

img,video{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}